/* Write your CSS code here */
.header-contianer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header-nav-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-nav-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-element {
  font-family: 'Roboto';
  font-size: 14px;
  color: #475569;
  margin-right: 20px;
}
.header-btn {
  background-color: #0967d2;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 6px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  width: 80px;
  height: 30px;
}
